<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Enes Group</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/responsive.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div class="mb-6 hero_area shadow-lg rounded-2xl">
    <section class=" slider_section position-relative">
      <div class="container-fluid">
        <p class="flex justify-end text-5xl text-white font-bold px-10 py-10">OUR WORKING</p>
        <div class="row">
          <div class="col-md-2 offset-md-2">
            <div class="slider_heading">
              <h2 class="drop-shadow px-4">
                &lt;/&gt; <span>&lt;/&gt;</span>
              </h2>
            </div>
          </div>
          <div class="col-md-8 mx-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="box">
                    <div class="detail-box px-10">
                      <h1>
                        SOFTWARE <br />
                        DEVELOPER
                      </h1>
                      <hr />
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Contact Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="box">
                    <div class="detail-box">
                      <h1>
                        WEB <br />
                        DEVELOPER
                      </h1>
                      <hr />
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Contact Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="box">
                    <div class="detail-box">
                      <h1>
                        GAME <br />
                        DEVELOPER
                      </h1>
                      <hr />
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Contact Us
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>

  <section class="class_section shadow-lg rounded-2xl">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <div class="client_container">
            <div class="heading_container flex items-center">
              <div class="row">
              <div>
                <div class="client_container">
                  <div class="heading_container">
                    <p class="new-clash-title mt-6 text-3xl text-black font-bold">
                          OUR PROJECTS
                        </p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="class_box-container">
              <div class="owl-carousel owl_carousel1">
                <div class="item">
                  <div class="box">
                    <div class="img-box">
                      <img src="images/c1.jpg" alt="">
                      <div class="detail-box">
                        <button>
                          <img src="images/click.png" alt="">
                        </button>
                        <P class="new-clash-title mt-6 text-3xl text-white font-bold ">
                          NEW CLASH</P>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="">
                        See More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item ">
                  <div class="box">
                    <div class="img-box">
                      <img src="images/c2.jpg" alt="">
                      <div class="detail-box">
                        <button>
                          <img src="images/click.png" alt="">
                        </button>
                        <p class="new-clash-title mt-6 text-3xl text-white font-bold ">
                          ZIGANOY
                        </p>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="">
                        See More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="box">
                    <div class="img-box">
                      <img src="images/c3.jpg" alt="">
                      <div class="detail-box">
                        <button>
                          <img src="images/click.png" alt="">
                        </button>
                        <p class="new-clash-title mt-6 text-3xl text-white font-bold ">
                          Sort-It-3D
                        </p>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="">
                        See More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="box">
                    <div class="img-box">
                      <img src="images/c4.jpg" alt="">
                      <div class="detail-box">
                        <button>
                          <img src="images/click.png" alt="">
                        </button>
                        <p class="new-clash-title mt-6 text-3xl text-white font-bold ">
                          Tank-Hero-3D
                        </p>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="">
                        See More
                      </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class=" bg-white shadow-lg rounded-2xl mt-4">
  <section class="client_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <div class="client_container">
            <div class="heading_container">
              <p class="new-clash-title mt-6 text-3xl text-black font-bold ">
                          OUR WORKS
                        </p>
            </div>
            <div class="client_box-container">
              <div class="carousel-wrap ">
                <div class="owl-carousel">
                  <div class="item">
                    <div class="box b1">
                      <div>
                        <img src="images/b1.jpg" alt="" />
                      </div>
                      <div class="detail-box">
                        <h4>
                          SOFTWARE DEVELOPMENT
                        </h4>
                        <p>
                          "At Enes Group, we are dedicated to delivering top-notch software development solutions tailored to meet the unique needs of our clients. Our expert team of developers and engineers leverages the latest technologies and best practices to create custom software that drives business success." </p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="box b2">
                      <div>
                        <img src="images/b2.jpg" alt="" />
                      </div>
                      <div class="detail-box">
                        <h4>
                          WEB DEVELOPMENT
                        </h4>
                        <p>
                          "At Enes Group, we specialize in crafting exceptional web development solutions that are designed to elevate your business and engage your audience. Our team of skilled developers, designers, and strategists collaborates to create visually stunning and highly functional websites that align with your unique business goals." </p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="box b3">
                      <div>
                        <img src="images/b3.jpg" alt="" />
                      </div>
                      <div class="detail-box">
                        <h4>
                          GAME DEVELOPMENT
                        </h4>
                        <p>
                          "At Enes Group, we offer impressive and immersive game development solutions that bring ideas to life. Our team of talented game developers, artists, and designers is passionate about creating unique gaming experiences that captivate players and enhance engagement. We have the expertise to deliver high-quality results." </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class=" bg-white shadow-lg rounded-2xl mt-4">
  <section class="client_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <div class="client_container">
            <div class="heading_container">
              <p class="new-clash-title mt-6 text-3xl text-black font-bold ">
                          OUR CUSTOMER' COMMENTS
                        </p>
            </div>
            <div class="client_box-container">
              <div class="carousel-wrap ">
                <div class="owl-carousel">
                  <div class="item">
                    <div class="box">
                      <div class="img-box">
                        <img src="images/male.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h4>
                          Anonymous Customer
                        </h4>
                        <p>
                          "Working with this team on our web development project was a fantastic experience. They approached our needs with great attention and delivered exactly the solution we wanted. Their quick responses and professionalism ensured our project was completed on time. I highly recommend them!" </p>
                        <img src="images/quote.png" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="box">
                      <div class="img-box">
                        <img src="images/female.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h4>
                          Anonymous Customer
                        </h4>
                        <p>
                          "Collaborating with this team during the game development process turned our imagination into reality. Their creativity and technical expertise resulted in a game that exceeded our expectations. We are grateful for their support at every stage, and we look forward to working together on future projects!" </p>
                        <img src="images/quote.png" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="box">
                      <div class="img-box">
                        <img src="images/male.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h4>
                          Anonymous Customer
                        </h4>
                        <p>
                          "Our experience with the software development project was extremely positive. The team’s attention to detail and solution-oriented approach made a significant difference at every phase of the project. We achieved results that exceeded our expectations, and we thank them for that. We look forward to continuing our collaboration!" </p>
                        <img src="images/quote.png" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="box">
                      <div class="img-box">
                        <img src="images/male.png" alt="" />
                      </div>
                      <div class="detail-box">
                        <h4>
                          Anonymous Customer
                        </h4>
                        <p>
                          "Working with this team to redesign our website was a great pleasure. Their creative ideas and technical skills transformed our site into a modern and user-friendly platform. Their commitment to customer satisfaction made the project even more rewarding, and we are excited to partner with them again in the future!" </p>
                        <img src="images/quote.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="bg-gray-800 shadow-lg rounded-2xl mt-6 flex">
  <div class="map_container py-3 px-3 w-1/2">
    <div class="map">
      <div id="googleMap" style="width:100%; height:100px;"></div>
    </div>
  </div>
  <div class="w-1/2">
  <table class="mt-10 flex justify-center">
  <tbody>
    <tr>
      <td class="p-2 text-center pb-4 px-4">
        <a href="#">
          <img src="images/facebook.png" alt="">
        </a>
      </td>
      <td class="p-2 text-center pb-4 px-4">
        <a href="#">
          <img src="images/twitter.png" alt="">
        </a>
      </td>
      <td class="p-2 text-center pb-4 px-4">
        <a href="#">
          <img src="images/linkedin.png" alt="">
        </a>
      </td>
      <td class="p-2 text-center pb-4 px-4">
        <a href="#">
          <img src="images/instagram.png" alt="">
        </a>
      </td>
      <td class="p-2 text-center pb-4 px-4">
        <a href="#">
          <img src="images/youtube.png" alt="">
        </a>
      </td>
    </tr>
  </tbody>
</table>



</div>

</div>


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style");
    }
  </script>

  <!-- owl carousel script -->
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 2
        }
      }
    });


    $(".owl_carousel1").owlCarousel({
      loop: true,
      margin: 25,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        1000: {
          items: 2
        }
      }
    });
  </script>

  <script>
    function myMap() {
      var mapProp = {
        center: new google.maps.LatLng(40.99893097414307, 39.64644377594038),
        zoom: 18,
      };
      var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>


</body>

</html>